html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#marketing {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: #8fa2a7; 
    color: #fff;
}

.marketing-icon {
    color: #8fa2a7;
}